on init
    #create mountpoint for /mnt/vendor/persist partition
    mkdir /mnt/vendor/persist 0771 system system

    symlink /mnt/vendor/persist /vendor/persist
    symlink /vendor/lib64/hw/libMcGatekeeper.so   /vendor/lib64/hw/gatekeeper.${ro.product.board}.so
    symlink /vendor/lib64/hw/libMcTeeKeymaster.so /vendor/lib64/hw/keystore.${ro.hardware}.so

on post-fs
    chown system system /mnt/vendor/persist
    chmod 0771 /mnt/vendor/persist

    # We restorecon /mnt/vendor/persist to set SEPolicy label.
    restorecon /mnt/vendor/persist

    # Create mcRegistry to store failure record
    mkdir /mnt/vendor/persist/mcRegistry 0771 system system

on post-fs-data
    # Create /data/vendor/key_provisioning dir and get proper encryption policy installed
    # Key Installation
    mkdir /data/vendor/key_provisioning 0771 system system